html{
  background-color:rgb(148, 178, 136);
  body, html {
    height: 100%;
    margin: 0;
  }






ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #111111;
  }
  .c5{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    border-radius:10px ;
    background-color:rgb(135, 206, 250) ;
  }
}